- name: Instalacion de Postgre
  yum:
    name: "{{ packages }}"
  vars:
    packages:
    - postgresql-server 
    - postgresql-contrib
- name: Inicializando PostgreSQL
  command: postgresql-setup initdb
  ignore_errors: yes
- name: Levantando Servicio de Postgre
  service:
    name: postgresql
    state: started
- name: hanilitando Servicio de Postgre
  service:
    name: postgresql
    enabled: yes
- name: Cambio de pasword de usuario postgres
  command: "printf 'postgresql\npostgresql\n' | passwd postgres"
- name: Instalando psycopg2
  pip:
   name: psycopg2-binary